<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.summer.config.dao.DemoDao">


    <select id="show" resultType="java.lang.String">
        SELECT loginname
        FROM sys_userinfo
        LIMIT 1
    </select>

    <insert id="add" parameterType="java.lang.String">
        INSERT INTO p_cms(title,content,type,addtime,updatetime)
        VALUES (#{param},'CONTENT','1',NOW(),NOW())
    </insert>

    <select id="getUserName" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT user_name FROM t_order WHERE t_user WHERE user_id = #{user_id}
    </select>

    <update id="createTableIfNotExists">
        CREATE TABLE IF NOT EXISTS t_user (user_id INT NOT NULL AUTO_INCREMENT, user_name VARCHAR(200), user_name_plain VARCHAR(200), pwd VARCHAR(200), assisted_query_pwd VARCHAR(200), PRIMARY KEY (user_id));
    </update>
    
    <insert id="addOrder" parameterType="java.lang.String">
        INSERT INTO t_order(name) VALUES(#{name})
    </insert>
    
    <select id="getOrderById" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT * FROM t_order WHERE order_id = #{order_id}
    </select>

    <select id="getOrder" resultType="java.util.Map">
        select * FROM t_order
    </select>



</mapper>